<style>
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css');
</style>

<script>
    var showPreloader = function(element) {
        var element = $(element);
        element.prop('disabled', true);
        element.parent().find('input, button, a, span').hide();
        element.parent().find('.preloader').show();
    }
</script>

<%= form_for(@spot, :url => spot_path(@spot.nasid) ,   remote2: true, :html => { role: "form"}) do |f| %>
  <div class="col-md-3">
    <div class="form-group">
      <%= f.label "", "Логотип " %>
      <div class="preloader" style="display: none;">
        <div class="fa fa-spinner fa-spin"></div>
      </div>
      <button class="btn btn-box-tool"  data-toggle="tooltip" title=" Рекомендуемая ширина логотипа 480 пикселей, высота любая ">
        <i class="fal fa-question-circle"></i>
      </button>
      <%= f.file_field :picture, onChange: "this.form.action=this.form.action+'?tab=2'; showPreloader(this); this.form.submit();".html_safe %>
      <%= link_to  deletelogo_path(@spot.nasid), method: :delete, data: { confirm: 'Вы уверены в удалении?' } , class: " " do %>
        <i class="fal fa-times"> Удалить логотип</i>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :"Фон" %>
      <div class="preloader" style="display: none;">
        <div class="fa fa-spinner fa-spin"></div>
      </div>
      <button class="btn btn-box-tool"  data-toggle="tooltip" title=" Рекомендуемый размер фона 3000х2000 пикселей, размер 300 до КБайт ">
        <i class="fal fa-question-circle"></i>
      </button>
      <br>
      <input type="radio" name="bgselect" value="nobg" onclick="var ex=document.getElementById('bg').value; $('#'+ex).removeClass('bgselected');  $('#bg').val('0');$(this).addClass('bgselected');  changeBG();" <%= if @spot.bg=="0" then "checked" end  %>>
      Без фона
      <br>
      <input type="radio" id="bgselect2" name="bgselect" value="selectbg" <%= if @spot.bg!="0" then "checked" end  %>>
      Выбрать фон
      <br>
      <input type="radio" id="bgselect3" name="bgselect" value="selectbg" <%= if @spot.bg.to_s.include?("bg")  then "checked" end  %>>
      Загрузить свой фон
      <%= f.file_field :bgpicture, onChange: "this.form.action=this.form.action+'?tab=2'; showPreloader(this); this.form.submit();  ".html_safe %>
    </div>
    <br>
  </div>
<%end%>